# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

*.js                                 @MetaMask/shared-libraries-engineers
package.json               @MetaMask/shared-libraries-engineers
.github/                        @MetaMask/shared-libraries-engineers
